<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.verhage.ipify</string>
	<key>connections</key>
	<dict>
		<key>034C52A6-7583-446C-A3B1-2A25C278BEE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDA2B60F-444F-475C-97C6-F89475421387</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3D9A0F32-A6C1-4E61-A177-F6CDCA5C351E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3498FA0E-97F4-414D-A9D5-F8B3478F6A6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C493E77-9FC7-4D08-8200-392E9356498A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C493E77-9FC7-4D08-8200-392E9356498A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>034C52A6-7583-446C-A3B1-2A25C278BEE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D9A0F32-A6C1-4E61-A177-F6CDCA5C351E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>124F0CE3-DF84-4879-84A7-6A3117D9710C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A7904674-E17C-41A6-89BF-FEEC637C9248</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67391287-70C1-4659-8A75-ADFB74C5903D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C493E77-9FC7-4D08-8200-392E9356498A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rens Verhage</string>
	<key>description</key>
	<string>Copies current IP-address to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ipify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>67391287-70C1-4659-8A75-ADFB74C5903D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ip</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>IP</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3498FA0E-97F4-414D-A9D5-F8B3478F6A6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl https://api{query}.ipify.org</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>034C52A6-7583-446C-A3B1-2A25C278BEE5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EDA2B60F-444F-475C-97C6-F89475421387</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>3C493E77-9FC7-4D08-8200-392E9356498A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Your IP-address: {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>124F0CE3-DF84-4879-84A7-6A3117D9710C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:notify}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Notify</string>
						<key>uid</key>
						<string>A7904674-E17C-41A6-89BF-FEEC637C9248</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3D9A0F32-A6C1-4E61-A177-F6CDCA5C351E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Copy current IP-address to the clip board. Uses https://ipify.org.

Simply type ip to copy your IPv4 address or ip6 for IPv6 if applicable. The IP-address is also displayed in a notification. This notification is optional, to disable, set the workflow variable 'notify' to false.

Workflow icon made by Freepik (https://www.freepik.com/home) from www.flaticon.com</string>
	<key>uidata</key>
	<dict>
		<key>034C52A6-7583-446C-A3B1-2A25C278BEE5</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>124F0CE3-DF84-4879-84A7-6A3117D9710C</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>3498FA0E-97F4-414D-A9D5-F8B3478F6A6C</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>3C493E77-9FC7-4D08-8200-392E9356498A</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>3D9A0F32-A6C1-4E61-A177-F6CDCA5C351E</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>67391287-70C1-4659-8A75-ADFB74C5903D</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>EDA2B60F-444F-475C-97C6-F89475421387</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>notify</key>
		<string>true</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
